html {
  background: #E5E5E5;
  font-family: YuGothic;
  }

.header{
  height: 60px;
  background-color: #8F8F8F;
}
 .title{
    position: absolute;
    width: 200px;
    height: 42px;
    left: 30px;
    top: 9px;
    font-style: normal;
    font-weight: bold;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.05em;
}
 .highlight{
   font-size: 24px;
   line-height: 30px;
   color: #DBDF2A;
  }

 .contents{
}
 .content_post{
   font-style: normal;
   font-weight: bold;
   width: 76%;
   margin: 8% 12%;
   padding: 2%;
   height: 230px;
   background-color: white;
  }

 .question{
   font-size: 17px;
   line-height: 30px;
   letter-spacing: 0.05em;
   color: #000000;
   height: 160px;
  }

 .answer_button{
   background: #8F8F8F;
   border-radius: 18px;
   text-align: center;
   display: flex;
   letter-spacing: 0.2em;
   color: #FFFFFF;
   text-decoration: none;
   font-size: 17px;
   line-height: 30px;
   padding: 7px 20px;
   margin: 15px 0 0 178px;
  }

  .content_answer{
    width: 76%;
    height: 120px;
    border-radius: 23px;
    margin: 8% 12%;
    background-color: white;
    padding: 5%;
    font-style: normal;
    letter-spacing: 0.2em;
    display: none;
  }

  .content_answer.js-open{
    display: block;
  }

  .ans_word{
    height: 43px;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
  }

  .explanation{
    height: 37px;
    line-height: 30px;
  }
